/*full page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightskyblue;
  min-width: 1355px;
  overflow-x: auto;
}

/*head*/
header {
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: fit-content;
  width: 100%;

  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.banner-img {
  height: 7rem;
  border-radius: 10px;
}

.banner-nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.banner-nav-container a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Arial Narrow Bold", sans-serif;
  color: orchid;
  font-size: 1rem;
  height: 5rem;
  width: 10rem;
  text-align: center;
  align-content: center;
  background-color: rgba(249, 255, 65, 0.8);
  border-radius: 10px;
}

.banner-nav-container a:hover {
  background-color: rgb(249, 255, 65);
  border: 0.2rem solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

/*Main*/
main {
  display: flex;
  flex-direction: column;
}

.characters-section {
  margin-top: 150px;
  display: relative;
}
.characters-img {
  width: 100%;
  height: auto;
}
.characters-container {
  background-color: rgba(240, 248, 255, 0.8);
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -30%;
}

.characters-h {
  position: relative;

  width: fit-content;
  font-size: 2rem;
  margin-left: 3rem;
  color: rgb(0, 0, 0);

  padding: 25px;
  border-radius: 10px;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
}

.episodes-section {
  position: relative;
}
.episodes-img {
  width: 100%;
}

.episodes-section nav {
  display: flex;
  align-items: top;
  flex-direction: row;
  position: absolute;
  justify-content: flex-start;
  top: 10%;
  right: 2%;
}

.episodes-section nav img {
  max-height: 25rem;
}
.s1-img {
  margin-top: 6rem;
  border-radius: 10px;
  border: 2rem solid rgba(245, 245, 245, 0.8);
}
.s1-img:hover {
  border: 2rem solid rgba(245, 200, 245, 0.8);
}
.s2-img {
  margin-top: 3rem;
  border-radius: 10px;
  border: 2rem solid rgba(245, 245, 245, 0.8);
}
.s2-img:hover {
  border: 2rem solid rgba(245, 200, 245, 0.8);
}
.s3-img {
  margin-top: 1rem;
  border-radius: 10px;
  border: 2rem solid rgba(245, 245, 245, 0.8);
}
.s3-img:hover {
  border: 2rem solid rgba(245, 200, 245, 0.8);
}
/*foot*/
footer {
  background-color: black;

  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
  /*position: fixed;*/
  z-index: 1;
  bottom: 0;
}
footer nav {
  color: whitesmoke;
  font-family: "Arial Narrow Bold", sans-serif;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

footer nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: whitesmoke;
  font-family: "Arial Narrow Bold", sans-serif;
}

footer nav div {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

footer nav div a {
  align-items: sp;
}

.insta {
  max-height: 1rem;
}

.back-to-top {
  max-height: fit-content;
  max-width: fit-content;
}

.back-to-top img {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  height: 5rem;
  border-radius: 45px 45px 0px 0px;
  margin-left: 10px;
  padding-bottom: 0px;
}
